footer {  
  border-top: 2px solid var(--border-color);
}

footer > div {
  display: grid;
  
}

footer > div:first-of-type {
  place-items: start center;
  background: var(--footer-background);
  grid-template-columns: repeat(3, 1fr);
  color: var(--text-color);
  padding: 1.5rem 2rem;
}

footer > div:last-of-type {
  place-items: center;
  grid-template-columns: 1fr auto 1fr;
  border-top: 2px dotted var(--border-color);
  padding: 0 1rem;
}

#page-size {
  place-self: center flex-start;
  color: var(--text-muted);
}

#back-to-top {
  place-self: center flex-end;
  color: var(--primary-color);
}

#back-to-top a {
  font-size: 1.5rem;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

#back-to-top:hover,
#back-to-top:focus {
  color: var(--hover-color);
  transform: scale(1.2);
}